<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/info" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="text" name="name">
        <button type="sumit" value="submit">Submit</button>
        <% if(users){ %>
            <% users.forEach((user, index) =>{ %>
                <p><%=index%> <%= user %></p>                        
               <% }) %>
        <%}%>
        
    </form>
</body>
</html>